node_modules/**
out/**
!out/extension.js
!out/extension.js.LICENSE.txt
scripts/**
**/package-lock.json
**/yarn.lock
.vscode/**
.vscode-test/**
**/*.ts
**/*.map
.gitignore
.editorconfig
**/tsconfig.json
**/tsconfig.base.json
webpack.config.js
syntaxes/xml.tmLanguage.yaml
